/* .homePage {
    background-image: url("background3.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    height: 100vh;
    margin-top: -70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:50px;
    background-repeat:no-repeat;
    font-family: "Calibri";
    text-shadow: 3px 3px 30px #000000;
}

.title {
    margin-bottom: 10px; 
  }
 */

 .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 854px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }