 .each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 854px;
  }
  
  .each-slide-effect span {
    padding: 20px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    display: block;
  }


  
